.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 0;
  text-decoration: none;
  transition: 0.3s linear;

}

.footer__column-link:hover {
  text-decoration: underline;
  opacity: 60%;
}
